* {
  margin: 0px;
}

body {
  background-color: #428cc4;
  text-align: center;
  align-items: center;
}

.btn-add {
  display: flex;
  float: right;
}

.navbar{
  display: flex;
  font-size: 30px;
  margin: 0 5%;
  color: antiquewhite;
  }

.navbar-item {
  display: flex;
  margin-right: 50px;
  }

.navbar-item li {
  padding-left: 20px;
  list-style-type: none;
  padding: 0 30px;
}

.navbar a {
  text-decoration: none;
  color: antiquewhite;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.contact h1 {
  padding-bottom: 30px;
}

.contact ul li {
  list-style-type: none;
  font-size: 18px;
  padding: 10px 0;
  text-align: left;
  padding-left: 40%;
}